.header{
    display: flex;
   align-items: center;
    justify-content: space-between;
    flex: 1;
    padding: 12px;
    position: relative;
    align-items: center;
    
}
.menu{    
    display: flex;
    flex: 1;
    justify-content: flex-end;
}
.Search_align{
    justify-content: space-between;
    display: flex;
   margin-left: 500px;
}
@media only screen and (max-width: 720px) {
    .Search_align{
        
       margin-left: 100px;
    }
}
.menu-icon{
    font-size: 25px;
}

.mobile-menu{
    display: none;
}
.web-menu{
    display: flex;
}

@media only screen and (max-width: 720px) {
    .mobile-menu{
        display: flex;
    }
    .web-menu{
        display: none;
    }
}
